
# IDEs
/.vscode/

# Python
/venv/
**.pyc

# Data
*.sqlite3
.lock
/media/

# Config
/settings.ini
/plugins-enabled/
/docker-compose.yml
inventory.yml
vagrant_extra_vars.yml

# Misc
/notes/
twarc.log
.vagrant/
