[submodule "SearchTweetsPython"]
	path = SearchTweetsPython
	url = https://github.com/twitterdev/search-tweets-python.git
[submodule "wdra_extender/SearchTweetsPython"]
	path = wdra_extender/SearchTweetsPython
	url = https://github.com/twitterdev/search-tweets-python.git
