
# IDEs
/.idea/
/.vscode/

# Python
/venv/
**.pyc

# Data
*.sqlite3
.lock
/media/
TWARC.log

# Config
/settings.ini
/docker-compose.yml
inventory.yml
vagrant_extra_vars.yml

# Misc
/notes/
twarc.log
.vagrant/
WDRAX.d/
