
# IDEs
/.idea/
/.vscode/

# Python
/venv/
**.pyc

# Data
*.sqlite3
.lock
/media/
TWARC.log

# Config
/settings.ini
/docker-compose.yml
vagrant_extra_vars.yml
.twitter_keys.yaml
.idea/
.DS_Store

# Misc
/notes/
twarc.log
.vagrant/
WDRAX.d/
/dump.rdb

