version: "3.8"
services:
  wdrax:
    build: .
    environment:
      # Web server component never connects to Twitter API
      - REDIS_HOST=redis
    image: wdrax:dev
    ports:
      - 8000:8000
    volumes:
      - ./db.sqlite3:/var/www/wdrax/db.sqlite3:z
      - ./media:/var/www/wdrax/media:z,ro

  runner:
    build: .
    environment:
      - REDIS_HOST=redis
      - TWITTER_CONSUMER_KEY={{ TWITTER_CONSUMER_KEY }}
      - TWITTER_CONSUMER_SECRET={{ TWITTER_CONSUMER_SECRET }}
      - TWITTER_ACCESS_TOKEN={{ TWITTER_ACCESS_TOKEN }}
      - TWITTER_ACCESS_TOKEN_SECRET={{ TWITTER_ACCESS_TOKEN_SECRET }}
    image: wdrax:dev
    command: celery -A wdra_extender.app:celery worker --loglevel=debug --concurrency=1
    volumes:
      - ./db.sqlite3:/var/www/wdrax/db.sqlite3:z
      - ./media:/var/www/wdrax/media:z
      - ./plugins:/var/www/wdrax/plugins:z,ro

  redis:
    image: redis
