# Generate requirements.txt using pip-tools
celery[redis]
flask
flask-login
flask-migrate
flask-session
flask-sqlalchemy
python-decouple
psycopg2-binary
python-decouple
searchtweets-v2
twarc
wordcloud
