[settings]

FLASK_SECRET_KEY = {{ secret_key }}

DEPLOYMENT_HOST=localhost

REDIS_HOST=localhost

ENABLE_TASK_QUEUE=True

LOG_LEVEL=DEBUG

DATABASE_URL=postgresql://wdrax:wdrax@{{ db_host }}:5432/db.postgres

NEO4J_URI=neo4j+s://{{ db_host }}:7474/db.neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=wdrax
NEO4J_VERSION=4
NEO4J_DATABASE=movies