TWITTER_ACCESS_TOKEN: {{ TWITTER_ACCESS_TOKEN }}
TWITTER_ACCESS_TOKEN_SECRET: {{ TWITTER_ACCESS_TOKEN_SECRET }}
TWITTER_CONSUMER_KEY: {{ TWITTER_CONSUMER_KEY }}
TWITTER_CONSUMER_SECRET: {{ TWITTER_CONSUMER_SECRET }}

REDIS_HOST=localhost

ENABLE_TASK_QUEUE=True

LOG_LEVEL=DEBUG