version: "3.8"
services:
  wdrax:
    build: .
    environment:
      # Web server component never connects to Twitter API
      - REDIS_HOST=localhost
      - LOG_LEVEL={{ LOG_LE_tag=VEL }}
    image: wdrax:{{ docker_tag }}
    ports:
      - 8000:8000
    volumes:
      - {{ project_dir }}/db.postgresql:/var/www/wdrax/db.postgresql:z
      - {{ project_dir }}/media:/var/www/wdrax/media:z,ro
    depends_on:
      - runner
      - db
    network_mode: "host"  # Required to access Redis on localhost

  runner:
    build: .
    environment:
      - REDIS_HOST=redis
      - LOG_LEVEL={{ LOG_LEVEL }}
    image: wdrax:{{ docker_tag }}
    command: celery -A wdra_extender.app:celery worker --loglevel=debug --concurrency=1
    volumes:
      - {{ project_dir }}/db.postgresql:/var/www/wdrax/db.postgresql:z
      - {{ project_dir }}/media:/var/www/wdrax/media:z
      - {{ project_dir }}/plugins:/var/www/wdrax/plugins:z,ro
    network_mode: "host"  # Required to access Redis on localhost

  db:
    image: postgres:13-alpine
    volumes:
      - {{ project_dir }}/db.postgresql:/var/www/wdrax/db.postgresql:z
    environment:
      POSTGRES_DB: db.postgresql
      POSTGRES_USER: wdrax
      POSTGRES_PASSWORD: wdrax
    env_file:
      - ./.env.prod.db
    network_mode: "host"  # Required to access Redis on localhost


networks:
  default:
