version: "3.8"
services:
  wdrax:
    build: .
    environment:
      # Web server component never connects to Twitter API
      - REDIS_HOST=redis
      - LOG_LEVEL={{ LOG_LEVEL }}
    image: wdrax:{{ docker_tag }}
    restart: always
    ports:
      - 8000:8000
    volumes:
      - {{ project_dir }}/db.postgres:/var/www/wdrax/db.postgres:z
      - {{ project_dir }}/media:/var/www/wdrax/media:z
    depends_on:
      - redis
      - runner
      - db

  runner:
    build: .
    environment:
      - REDIS_HOST=redis
      - LOG_LEVEL={{ LOG_LEVEL }}
    image: wdrax:{{ docker_tag }}
    restart: always
    command: celery -A wdra_extender.app:celery worker --loglevel=debug --concurrency=1
    volumes:
      - {{ project_dir }}/db.postgres:/var/www/wdrax/db.postgres:z
      - {{ project_dir }}/media:/var/www/wdrax/media:z
      - {{ project_dir }}/plugins:/var/www/wdrax/plugins:z,ro
    depends_on:
      - db
      - redis

  db:
    image: postgres:13-alpine
    restart: always
    volumes:
      - {{ project_dir }}/db.postgres:/var/www/wdrax/db.postgres:z
    environment:
      PGDATA: /var/www/wdrax/db.postgres
      POSTGRES_DB: db.postgres
      POSTGRES_USER: wdrax
      POSTGRES_PASSWORD: wdrax

  redis:
    image: redis
    restart: always

