{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function() {
        {% for _extract in user_extracts %}
            {% if not _extract.is_ready %}
                check_long_task('{{ url_for('tools.task_status', task_id=_extract.uuid) }}', $('#progress_bar_'+'{{ _extract.uuid }}'), $('#progress_status_'+'{{ _extract.uuid }}'), $('#progress_message_'+'{{ _extract.uuid }}'));
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}

{% block content %}
<h1>My Extracts</h1>

{% for _extract in user_extracts %}
    <hr>
    <tr>
        <td>
            <strong>Extract ID:</strong> {{ _extract.uuid }}<br>
            <strong>Search Method:</strong> {{ _extract.extract_method }}<br>
            <strong>Search Endpoint:</strong> {{ _extract.search_settings.get('endpoint') }}<br>
            <strong>Search String:</strong> {{ _extract.query_string }}<br>
            <strong>Tweets Requested:</strong> {{ _extract.search_settings.get('max_results') }}<br>

        </td>
    {% if (_extract.building == False and _extract.queuing == False) %}
        <td>
            {% if _extract.is_ready() %}
                <a class="btn btn-primary"
                   href="{{ url_for('extract.download_extract', extract_uuid=_extract.uuid) }}">
                    Download
                </a>
            {% else %}
                <a class="btn btn-primary"
                   href="{{ url_for('extract.rebuild_extract', extract_uuid=_extract.uuid) }}">
                    Recreate
                </a>
            {%  endif %}
        </td>
        <td>
            {% if _extract.is_ready() %}
                <a class="btn btn-primary"
                   href="{{ url_for('extract.delete_extract_data', extract_uuid=_extract.uuid) }}">
                    Delete extract data.
                </a>
            {% else %}
                <button class="btn btn-info"
                disabled>
                    Extract {{ _extract.uuid }} has no output file.
                </button>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-danger"
               href="{{ url_for('extract.delete_extract', extract_uuid=_extract.uuid) }}">
                Delete extract.
            </a>
        </td>
    {% else %}

        <td>
        <tr>
            <strong>Extract Status:</strong> <a id="progress_status_{{ _extract.uuid }}"></a>
        </tr>
        <tr>
            <div id="progress_bar_{{ _extract.uuid }}"></div>
        </tr>
        <tr>
            <a id="progress_message_{{ _extract.uuid }}"></a>
        </tr>
        <tr>
            <a class="btn btn-danger mt-2"
               href="{{ url_for('tools.kill_task', task_id=_extract.uuid) }}">
                Delete job.
            </a>
        </tr>
        </td>
    {% endif %}
    </tr>
    <hr>
{% endfor %}
{% endblock %}
