{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript">
    $(document).ready(function() {
    check_long_task('{{ url_for('tools.task_status', task_id=extract.uuid) }}');
    });
    </script>
    <style>
    .progress {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    </style>
{% endblock %}

{% block content %}
<h1>Extract Details</h1>

<hr>

<dl>
    <dt>UUID</dt>
    <dd>{{ extract.uuid }}</dd>

    <dt>Status</dt>
    <dd>
        {% if extract.ready %}
            Your extract has been processed and is ready to download.
        {% else %}
            Your extract is waiting to be processed, check back soon.
        {% endif %}
    </dd>
</dl>

<hr>

<div id="progress"></div>

<hr>

{% if extract.ready %}
    <a class="btn btn-prima`ry btn-lg btn-block"
       href="{{ url_for('extract.download_extract', extract_uuid=extract.uuid) }}">
        Download
    </a>
{% else %}
    <button class="btn btn-info btn-lg btn-block"
            disabled>
        Download will be available soon
    </button>
    <a class="btn btn-info btn-lg btn-block" href="{{ url_for('tools.kill_task', task_id=extract.uuid) }}">
        Stop Search
    </a>
{% endif %}

<a class="btn btn-prima`ry btn-lg btn-block" href="{{ url_for('auth.profile') }}">
    Home
</a>
<a class="btn btn-prima`ry btn-lg btn-block" href="{{ url_for('extract.show_extracts') }}">
    Show all Extracts
</a>

<script type="text/javascript">
    function check_long_task(status_url) {
        // add task status elements
        div = $('<div class="progress">' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                '</div>');
        $('#progress').replaceWith(div);
        // create a progress bar
        var nanobar = new Nanobar({
            bg: '#44f',
            target: div[0].childNodes[0]
        });
        // check the progress of the task
        update_progress(status_url, nanobar, div[0], 0);
    }
    function update_progress(status_url, nanobar, status_div, re_runs) {
            // send GET request to status URL
            rerun_in = 1;
            $.getJSON(status_url, function(data) {
                // update UI
                if (re_runs === undefined) {
                    re_runs = 0;
                }
                percent = 0;
                $(status_div.childNodes[1]).text(data['state']);
                if (data['state'] === 'PENDING') {
                    //update status
                    // set nanobar to queue position
                    $(status_div.childNodes[2]).text('Waiting in the job queue.');
                    //rerun in
                    rerun_in = 10*(re_runs+1);
                }
                if (data['state'] === 'STARTING' || data['state'] === 'COLLECTING') {
                    //update status
                    // set nanobar to be the total number to collect
                    percent = parseInt(100 * data['collected'] / '{{ extract.search_settings["max_results"] }}');
                    $(status_div.childNodes[2]).text('Collecting Tweets');
                    //rerun in
                    rerun_in = 5 + (re_runs * ((100 - percent) / 100));
                }
                if (data['state'] === 'RATE_LIMITING') {
                    //update status
                    // set nanobar to be the time to retry
                    $(status_div.childNodes[2]).text('Rate Limit hit');
                    percent = parseInt(100 * ((Date.now()/1000) - data['sleep_start']) / data['sleep']);
                    //rerun in
                    rerun_in = data['sleep'] / 10;
                }
                nanobar.go(percent);
            });
            // rerun in `rerun_in` seconds
            setTimeout(function() {
                update_progress(status_url, nanobar, status_div, re_runs+1);
            }, ~~(rerun_in*1000));
        }
    </script>

{% endblock %}