{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript">
    $(document).ready(function() {
    check_long_task('{{ url_for('tools.task_status', task_id=extract.uuid) }}', $('#progress_bar'), $('#progress_status'), $('#progress_message'));
    });
    </script>
{% endblock %}

{% block content %}
<h1>Extract Details</h1>

<a class="btn btn-prima`ry btn-lg btn-block" href="{{ url_for('auth.profile') }}">
    Home
</a>
<a class="btn btn-prima`ry btn-lg btn-block" href="{{ url_for('extract.show_extracts') }}">
    Show all Extracts
</a>

<hr>

<dl>
    <dt>UUID</dt>
    <dd>{{ extract.uuid }}</dd>

    <dt>Status</dt>
    <dd>
        {% if extract.ready %}
            Your extract has been processed and is ready to download.
        {% else %}
            Your extract is, <a id="progress_status"></a>, check back soon.
            <div id="progress_bar"></div>
            Msg: <a id="progress_message"></a>
        {% endif %}
    </dd>
</dl>

<hr>

{% if extract.ready %}
    <a class="btn btn-prima`ry btn-lg btn-block"
       href="{{ url_for('extract.download_extract', extract_uuid=extract.uuid) }}">
        Download
    </a>
{% else %}
    <button class="btn btn-info btn-lg btn-block"
            disabled>
        Download will be available soon
    </button>
    <a class="btn btn-info btn-lg btn-block" href="{{ url_for('tools.kill_task', task_id=extract.uuid) }}">
        Stop Search
    </a>
{% endif %}
<hr>
{% endblock %}