{% extends 'base.html' %}

{% block content %}
<h1>WDRA Extender</h1>

<div>
    <form action="{{ url_for('extract.get_by_search', extract_uuid=extract_uuid, basic_form=basic_form) }}" method="POST">
        <button class="btn btn-primary btn-lg btn-block mt" name="switch_form" type="submit">
            {% if basic_form == "True" %}
                Go to Advanced Search
            {% else %}
                Go to Basic Search
            {% endif %}
        </button>
    </form>
</div>

{% if basic_form == "True" %}
    <h2>Basic Search</h2>
    <p>Inupt comma separated list of search terms.</p>
    <form action="{{ url_for('extract.get_by_search', extract_uuid=extract_uuid, basic_form=basic_form) }}" method="POST">
        <div class="input_group">
            <label for="field_search_terms">Search terms</label>
            <textarea type="text" class="form-control" id="field_search_terms" name="search_terms"></textarea>
        </div>
        <div class="input_group">
            <label for="field_exclude_terms">Exclude terms</label>
            <textarea type="text" class="form-control" id="field_exclude_terms" name="exclude_terms"></textarea>
        </div>
        <button class="btn btn-primary btn-lg btn-block mt" type="submit">Submit</button>
    </form>
{% else %}
    <h2>Advanced Search</h2>
    <p>Include and exclude text, tags, and define timeframes.</p>
    <form action="{{ url_for('extract.get_by_search', extract_uuid=extract_uuid, basic_form=basic_form) }}" method="POST">
        <label><h3>Search Parameters</h3></label>
        <table style="width:100%">
            <tr>
                <td></td>
                <td colspan="3">Text</td>
                <td colspan="3">Hashtag (#)</td>
            </tr>
            <tr>
                <td><label for="include_terms">Include</label></td>
                <td colspan="3"><input type="text" class="form-control" id="include_terms" name="include_hashtag_terms" ></td>
                <td colspan="3"><input type="text" class="form-control" id="include_terms" name="search_terms" ></td>
            </tr>
            <tr>
                <td><label for="exclude_terms">Exclude</label></td>
                <td colspan="3"><input type="text" class="form-control" id="exclude_terms" name="search_terms" ></td>
                <td colspan="3"><input type="text" class="form-control" id="exclude_terms" name="search_terms" ></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">From</td>
                <td colspan="3">To</td>
            </tr>
            <tr>
                <td><label for="field_date">Date</label></td>
                <td colspan="3"><input type="datetime-local" class="form-control" id="field_date" name="date_from" ></td>
                <td colspan="3"><input type="datetime-local" class="form-control" id="field_date" name="date_to" ></td>
            </tr>
            <tr>
                <td><label for="tweet_id">Tweet ID</label></td>
                <td colspan="2"><input type="text" class="form-control" id="tweet_id" name="tweet_from"></td>
                <td><label for="fm_inc">Inclusive</label>
                    <input type="checkbox" class="form-control" id="fm_inc" name="from_inclusive"></td>
                <td colspan="2"><input type="text" class="form-control" id="tweet_id" name="tweet_to"></td>
                <td><label for="to_inc">Inclusive</label>
                    <input type="checkbox" class="form-control" id="to_inc" name="to_inclusive"></td>
            </tr>
        </table>
        <label><h3>Return Fields</h3></label>
        <p>Choose the return fields to retrieve from the api</p>
        <table>
            <tr>
                <td colspan="1">Field</td>
                <td colspan="1">Include</td>
                <td colspan="1"></td>
                <td colspan="1" id="secret_col" style="display: none">Extra Args</td>
            </tr>
            {% for field in return_fields['standard_fields'] %}
                {% if field in return_fields.keys() %}
                    <tr>
                        <td id="{{ field }}_cell1" colspan="1">
                            <label for="{{ field }}_check"> {{ field }}</label>
                        </td>
                        <td id="{{ field }}_cell2" colspan="1">
                            <input type="checkbox" class="form-control" id="{{ field }}_check" name="{{ field }}"
                                  onclick="show_options('{{ field }}')">
                        </td>
                        <td id="{{ field }}_cell3" colspan="2" >
                            <table id="{{ field }}_subs" style="display: none">
                                <tr>
                                    <td>Extra Field</td>
                                    <td>Include</td>
                                </tr>
                                {% for sub_field in return_fields[field] %}
                                    <tr>
                                        <td>
                                            <label for="{{ sub_field }}_check">{{ sub_field }}</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-control" id="{{ sub_field }}_check" name="{{ sub_field }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1"><label for="{{ field }}_check"> {{ field }}</label></td>
                        <td colspan="1"><input type="checkbox" class="form-control" id="{{ field }}_check" name="{{ field }}"></td>
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </form>

{% endif %}

<script>
    function show_options(field_name) {
        var checkBox = document.getElementById(field_name+"_check");
        var subtable = document.getElementById(field_name+"_subs");
        var secretcol = document.getElementById("secret_col")
        if (checkBox.checked == true){
            subtable.style.display = "block";
            secretcol.style.display = "block";
        } else {
            subtable.style.display = "none";
        }
    }
</script>

{% endblock %}
