{% extends 'base.html' %}

{% block content %}

<h1>Search Tweets</h1><hr>
<h3>1. Select Tweet Return Method</h3>

<div>
    <div class="mt-3">There are two search methods: <strong>Search</strong> and <strong>ID</strong>:</div>
    <div class="mt-3">
        <ul>
            <li>
                <div class="mt-1">
                    <strong>Search</strong> has two forms:
                    <ul>
                        <li>
                            The <strong>basic</strong> form can:
                            <ul>
                                <li>Include and exclude terms</li>
                                <li>Set the total number of tweets to return</li>
                            </ul>
                            The basic form will return the tweet ID and the tweet text as is the default for the APIv2,
                            it is also limited to the last 7 days.
                        </li>
                        <li>
                            The <strong>advanced</strong> form can:
                            <ul>
                                <li>Include and exclude terms</li>
                                <li>Set the total number of tweets to return with batch size control</li>
                                <li>Allow selection of date and time range and/or selection of tweet ID range (within the limitation of
                            your API credentials, non-academic users are still limited to the last 7 days)</li>
                                <li>Allow selection of the return information giving access to the full suit of API return fields</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="mt-3">
                    <strong>ID</strong> is a <em>tweet hydrating</em> feature.  By supplying a list of tweet IDs the API is used to obtain all available fields from
                    the tweet.
                </div>
            </li>
        </ul>
    </div>
</div>
<form action="{{ url_for('extract.select_method', extract_uuid=extract_uuid) }}" method="POST">
    <div>

        <select class = "browser-default custom-select" name= "method_select">
            {% for key, value in extract_methods.items() %}
            <option name= "{{ key }}" SELECTED>{{ key }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mt-2">
        <button class="btn btn-primary" type="submit" value="Select">Select <i class="fas fa-angle-right"></i></button>
    </div>
</form>

{% endblock %}
