{% extends "base.html" %}

{% block content %}
    <h1>WDRA Extender</h1>
    <h2 class="title">Welcome, {{ name }}!</h2>
    <form action="{{ url_for('extract.profile', basic_form=basic_form) }}" method="POST">
        <button class="btn btn-primary btn-lg btn-block mt" name="select_method" type="submit">
            Select twitter extract method
        </button>
        <button class="btn btn-primary btn-lg btn-block mt" name="change_api" type="submit">
            Change API keys
        </button>
        <button class="btn btn-primary btn-lg btn-block mt" name="go_to_extracts" type="submit">
            See Previous Extracts
        </button>
        <button class="btn btn-primary btn-lg btn-block mt" name="logout" type="submit">
            Logout
        </button>
    </form>
{% endblock %}